<footer class="footer">
    <div class="container">
      <div class="footer-top">
        <div class="footer-brand">
          <a routerLink="/" routerLinkActive="active">
            <img src="../assets/images/car.jpg" alt="Logo" class="logo-image">&nbsp;
            <img src="../assets/images/logo.svg" alt="Ridex logo" class="logo-content" >
          </a>
          <p class="footer-text">
            Search for cheap rental cars in New York. With a diverse fleet of 19,000 vehicles, Waydex offers its
            consumers an attractive and fun selection.
          </p>
        </div>
  
        <ul class="footer-list">
          <li><p class="footer-list-title">Company</p></li>
          <li><a href="/aboutus" class="footer-link">About us</a></li>
          <li><a href="/explorecars" class="footer-link">Explore Cars</a></li>
          <li><a href="/blog" class="footer-link">Our blog</a></li>
          <li><a href="/contactus" class="footer-link">Contacts</a></li>
        </ul>
  
        <ul class="footer-list">
          <li><p class="footer-list-title">Support</p></li>
          <li><a href="#" class="footer-link">Help center</a></li>
          <li><a href="#" class="footer-link">Ask a question</a></li>
          <li><a href="#" class="footer-link">Privacy policy</a></li>
          <li><a href="#" class="footer-link">Terms & conditions</a></li>
        </ul>
  
        <ul class="footer-list">
          <li><p class="footer-list-title">Neighborhoods in New York</p></li>
        
          <li><a href="#" class="footer-link">Central New York City</a></li>
          <li><a href="#" class="footer-link">Upper East Side</a></li>
          <li><a href="#" class="footer-link">Queens</a></li>
          <li><a href="#" class="footer-link">Theater District</a></li>
          <li><a href="#" class="footer-link">Midtown</a></li>
          <li><a href="#" class="footer-link">SoHo</a></li>
         
        </ul>
      </div>
    </div>
  </footer>
  