<!-- <div class="product-list-container">
  <h2>Product List</h2>
  <div class="product-filter">
    <label for="category">Filter by Category:</label>
    <input type="text" id="category" [(ngModel)]="categoryFilter" (input)="filterProducts()" placeholder="Enter category">
  </div>
  <div class="product-grid">
    <div *ngFor="let product of filteredProducts" class="product-card">
      <img [src]="product.image" alt="{{ product.name }}" class="product-image">
      <div class="product-info">
        <h3>{{ product.name }}</h3>
        <p>{{ product.price | currency }}</p>
        <p>{{ product.category }}</p>
        <p>{{ product.description }}</p>
        <a [routerLink]="['/product-details', product.id]" class="details-link">View Details</a>
      </div>
    </div>
  </div>
</div> -->
<div class="product-list-container">
  <h2>Product List</h2>
  <div class="content-wrapper">
    <div class="product-filter">
      <h3>Filter by Category</h3>
      <div *ngFor="let category of uniqueCategories">
        <input type="checkbox" [value]="category" (change)="onCategoryChange($event)">
        <label>{{ category }}</label>
      </div>
      
      <h3>Filter by Price Range</h3>
      <div>
        <input type="checkbox" value="100-300" (change)="onPriceRangeChange($event)">
        <label>100-300</label>
      </div>
      <div>
        <input type="checkbox" value="300-600" (change)="onPriceRangeChange($event)">
        <label>300-600</label>
      </div>
      <div>
        <input type="checkbox" value="600-1000" (change)="onPriceRangeChange($event)">
        <label>600-1000</label>
      </div>
      <div>
        <input type="checkbox" value="above-1000" (change)="onPriceRangeChange($event)">
        <label>Above 1000</label>
      </div>
    </div>
    
    <div class="product-grid">
      <div *ngFor="let product of filteredProducts" class="product-card">
        <img [src]="product.image" alt="{{ product.name }}" class="product-image">
        <div class="product-info">
          <h3>{{ product.name }}</h3>
          <p>{{ product.price | currency }}</p>
          <p>{{ product.category }}</p>
          <p>{{ product.description }}</p>
          <a [routerLink]="['/product-details', product.id]" class="details-link">View Details</a>
        </div>
      </div>
    </div>
  </div>
</div>


