

.topbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.toggle {
  cursor: pointer;
  font-size: 1.5em;
}

.user {
  display: flex;
  align-items: center;
}

.input-control {
  position: relative;
  margin-right: 10px;
}

#userAvatar {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-content {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.main .lo{
  background-color:  #007bff;
}
.main .lo ion-icon{

  background-color:  #007bff;
}
 .index-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  padding-left:270px;
}

.exam-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.exam-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exam-item h3 {
  margin-bottom: 15px;
}

.start-exam-btn {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.start-exam-btn:hover {
  background-color: #2980b9;
} 
/* 
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 20px;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}  */
