<div class="order-history-container">
  <h2>Order History</h2>
  <div *ngIf="orders.length > 0; else noOrders">
    <div *ngFor="let order of orders" class="order-card">
      <div class="order-content">
        <!-- Left Side: Address Details -->
        <div class="left-side">
          <div class="order-container address-details">
            <h4>Shipping Address:</h4>
            <p class="small-text">{{ order.name }}, {{ order.address.house }}, {{ order.address.road }}</p>
            <p class="small-text">{{ order.address.city }}, {{ order.address.state }}, {{ order.address.pincode }}</p>
            <p class="small-text"><strong>Phone:</strong> {{ order.phone }}</p>
            <p class="small-text"><strong>Payment method:</strong> {{ order.paymentMethod }}</p>
            <p class="small-text"><strong>Status:</strong> {{ order.status  }}</p>
          </div>
        </div>

        <!-- Right Side: Product Details and Meta Information -->
        <div class="right-side">
          <!-- Product Details -->
          <div class="order-container product-details">
            <div class="product-image">
              <img [src]="order.items[0].image" alt="{{ order.items[0].name }}" />
            </div>
            <div class="product-info">
              <h3>{{ order.items[0].name }}</h3>
              <p>{{ order.items[0].description }}</p>
              <p><strong>Size:</strong> {{ order.items[0].size }}</p>
              <p><strong>Quantity:</strong> {{ order.items[0].quantity }}</p>
              <p><strong>Price:</strong> {{ order.items[0].price | currency:'INR' }}</p>
            </div>
          </div>


          <!-- Order Date and Total Price -->
          <div class="order-meta">
            <p><strong>Order Date:</strong> {{ order.createdAt | date:'medium' }}</p>
            <!-- <div class="total-price-box">
              <p class="total-price"><strong>Total Price:</strong> {{ order.totalPrice | currency:'INR' }}</p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noOrders>
    <p>No orders found.</p>
  </ng-template>
</div>
