<div class="container">
<section class="section get-start">
    <div class="container">
        <h2 class="h2 section-title">Get started with 4 simple steps</h2>
        <ul class="get-start-list">
            <li>
                <div class="get-start-card">
                    <div class="card-icon icon-1">
                        <img src="../../assets/images/profilei.png" alt="Create a profile icon">
                    </div>
                    <h3 class="card-title">Create a profile</h3>
                    <p class="card-text">If you are going to use a passage of Lorem Ipsum, you need to be sure.</p>
                    <!-- <a href="#" class="card-link">Get started</a> -->
                </div>
            </li>
            <li>
                <div class="get-start-card">
                    <div class="card-icon icon-2">
                        <img src="../../assets/images/profile.png" alt="Tell us what car you want icon">
                    </div>
                    <h3 class="card-title">Tell us what car you want</h3>
                    <p class="card-text">Various versions have evolved over the years, sometimes by accident, sometimes on purpose </p>
                </div>
            </li>
            <li>
                <div class="get-start-card">
                    <div class="card-icon icon-3">
                        <img src="../../assets/images/icar-50.png" alt="Match with seller icon">
                    </div>
                    <h3 class="card-title">Match with seller</h3>
                    <p class="card-text">It to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
                </div>
            </li>
            <li>
                <div class="get-start-card">
                    <div class="card-icon icon-4">
                        <img src="../../assets/images/deal.png" alt="Make a deal icon">
                    </div>
                    <h3 class="card-title">Make a deal</h3>
                    <p class="card-text">There are many variations of passages of Lorem available, but the majority have suffered alteration</p>
                </div>
            </li>
        </ul>
    </div>
</section>
</div>
<app-footer></app-footer>
