<!-- Title:Simple Angular Application
created date:24-05-2024
Author :RAmapraba -->


<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a routerLink="/" routerLinkActive="active">
        <img src="../assets/images/car.jpg" alt="Logo" class="logo-image">&nbsp;
        <img src="../assets/images/logo.svg" alt="Ridex logo" class="logo-content" >
      </a>
    </div>
    <div class="navbar-links">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/aboutus" routerLinkActive="active">About-Us</a> 
      <a routerLink="/productdet" routerLinkActive="active">ExploreCars</a>
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
      <a routerLink="/contactus" routerLinkActive="active">Contact-US</a>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>

   <div>
    <router-outlet></router-outlet>
</div>

<!-- <app-productdet></app-productdet> -->
 
<!-- {{154578|currency:'INR'}} <br/>
{{154812|currency:'USD'}} <br/>
{{title|uppercase}} <br/>
{{title|lowercase}} <br/>
{{joinDate|date:'fullDate'}} <br/>
{{joinDate|date:'shortDate'}} <br/>
{{joinDate|date:'shortTime'}} <br/>
{{joinDate|date:'fullTime'}} <br/>
{{joinDate|date:'dd/MM/yyyy'}} <br/>
{{joinDate|date:'d/M/yy'}} <br/>
{{10|cube}} <br/>
{{[1,5,2,3,6,8,4]|slice:3}} <br/>
{{[1,5,2,3,6,8,4]|slice:3:5}} <br/>
{{[1,5,2,3,6,8,4]|slice:3:-1}} <br/>
{{[1,5,2,3,6,8,4]|slice:3:-2}} <br/>
{{[1,5,2,3,6,8,4]|slice:-5:-2}} <br/>
{{[1,5,2,3,6,8,4]|slice:-2}} <br/>
 -->


